@import "./_variables.scss";
/////////////////////////////////////////////////////////
// Buttons:
.btn {
    cursor: pointer;
    display: inline-block;
    font-size: $forms-font-size;
    padding: 0.4em 1.7em 0.4em 1.7em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-shadow: none;
    z-index: 2;
    background: rgba($color-default, $color-bg-opacity);
    border: 1px solid mix($color-default, $color-mix, 70);
    color: mix($color-default, $color-mix, 70);
    margin-bottom: $margin-bottom-default;
    transition: color 0.4s;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: mix($color-default, $color-mix, 70);
        z-index: -1;
        opacity: 0;
        transform: scale3d(0.7, 1, 1);
        transition: transform 0.4s, opacity 0.4s;
        transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    }
    &:active,
    &:hover {
        color: $color-font-hover;
        &::before {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
    &:focus {
        @extend .focus;
    }
    // Info
    &.btn-info {
        color: mix($color-info, $color-mix, 70);
        background: rgba($color-info, $color-bg-opacity);
        border: 1px solid mix($color-info, $color-mix, 70);
        &::before {
            background: mix($color-info, $color-mix, 70);
        }
        &:active,
        &:hover {
            color: $color-font-hover;
        }
    }
    // Succes
    &.btn-succes {
        color: mix($color-succes, $color-mix, 70);
        background: rgba($color-succes, $color-bg-opacity);
        border: 1px solid mix($color-succes, $color-mix, 70);
        &::before {
            background: mix($color-succes, $color-mix, 70);
        }
        &:active,
        &:hover {
            color: $color-font-hover;
        }
    }
    // Warning
    &.btn-warning {
        color: mix($color-warning, $color-mix, 70);
        background: rgba($color-warning, $color-bg-opacity);
        border: 1px solid mix($color-warning, $color-mix, 70);
        &::before {
            background: mix($color-warning, $color-mix, 70);
        }
        &:active,
        &:hover {
            color: $color-font-hover;
        }
    }
    // Danger
    &.btn-danger {
        color: mix($color-danger, $color-mix, 70);
        background: rgba($color-danger, $color-bg-opacity);
        border: 1px solid mix($color-danger, $color-mix, 70);
        &::before {
            background: mix($color-danger, $color-mix, 70);
        }
        &:active,
        &:hover {
            color: $color-font-hover;
        }
    }
}

/////////////////////////////////////////////////////////
// Inputs:
.input {
    display: inline-block;
    width: 100%;
    font-size: $forms-font-size;
    padding: 0.4em 0.6em 0.4em 0.6em;
    position: relative;
    background: rgba($color-default, $color-bg-input-opacity);
    border: 1px solid mix($color-default, $color-mix, 70);
    text-shadow: none;
    color: mix($color-default, $color-mix, 70);
    margin-bottom: $margin-bottom-default;
    &:focus {
        @extend .focus;
    }
    // Info
    &.input-info {
        background: rgba($color-info, $color-bg-input-opacity);
        border: 1px solid mix($color-info, $color-mix, 70);
    }
    // Succes
    &.input-succes {
        background: rgba($color-succes, $color-bg-input-opacity);
        border: 1px solid mix($color-succes, $color-mix, 70);
    }
    // Warning
    &.input-warning {
        background: rgba($color-warning, $color-bg-input-opacity);
        border: 1px solid mix($color-warning, $color-mix, 70);
    }
    // Danger
    &.input-danger {
        background: rgba($color-danger, $color-bg-input-opacity);
        border: 1px solid mix($color-danger, $color-mix, 70);
    }
}

.input-addon {
    display: inline-block;
    width: 100%;
    font-size: $forms-font-size;
    padding: 0.37em 0.6em 0.4em 0.6em;
    position: relative;
    overflow: hidden;
    background: rgba($color-default, $color-bg-opacity);
    border: 1px solid mix($color-default, $color-mix, 70);
    border-right: none;
    color: mix($color-default, $color-mix, 70);
    margin-bottom: $margin-bottom-default;
    // Info
    &.input-addon-info {
        color: mix($color-info, $color-mix, 70);
        background: rgba($color-info, $color-bg-opacity);
        border: 1px solid mix($color-info, $color-mix, 70);
        border-right: none;
    }
    // Succes
    &.input-addon-succes {
        color: mix($color-succes, $color-mix, 70);
        background: rgba($color-succes, $color-bg-opacity);
        border: 1px solid mix($color-succes, $color-mix, 70);
        border-right: none;
    }
    // Warning
    &.input-addon-warning {
        color: mix($color-warning, $color-mix, 70);
        background: rgba($color-warning, $color-bg-opacity);
        border: 1px solid mix($color-warning, $color-mix, 70);
        border-right: none;
    }
    // Danger
    &.input-addon-danger {
        color: mix($color-danger, $color-mix, 70);
        background: rgba($color-danger, $color-bg-opacity);
        border: 1px solid mix($color-danger, $color-mix, 70);
        border-right: none;
    }
    // In middle
    &.input-addon-middle {
        border-left: none;
    }
}