/////////////////////////////////////////////////////
// Sizes:
// XS - [0, inf.) - Default for all.
// S  - [375, inf.)
// M  - [768, inf.)
// L  - [992, inf.)
// XL - [1200, inf.)
$screen-xs-min: 0px;
$screen-s-min: 375px;
$screen-m-min: 768px;
$screen-l-min: 1024px;
$screen-xl-min: 1440px;
/////////////////////////////////////////////////////
// Colors:
// Fonts 
$font-primary: rgb(60, 60, 60);
$font-secondary: rgb(10, 10, 10);
// Backgrounds
$bg-primary: rgb(255, 255, 255);
$bg-secondary: rgb(210, 210, 210);
// Info, Succes, Warning, Danger, Default - buttons, alerts, inputs
$forms-font-size: 0.65em;
$color-default: rgb(10, 10, 10);
$color-info: rgb(0, 100, 255);
$color-succes: rgb(0, 219, 65);
$color-warning: rgb(252, 136, 10);
$color-danger: rgb(226, 0, 49);
$color-mix: rgb(255, 255, 255);
// Buttons, alerts
$color-bg-opacity: 0.1;
// Inputs
$color-bg-input-opacity: 0.05;
// Hovers
$hover-font-multiplier: 1.1;
$hover-bg-opacity: 0.12;
// Margins
$margin-bottom-default: 0.3em;
/////////////////////////////////////////////////////
// Default page values:
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext');
* {
    box-sizing: border-box;
    vertical-align: top;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html {
    min-height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    /////////////////////////////////////////////////////
    // Base values
    width: 100%;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    background-color: $bg-primary;
    /////////////////////////////////////////////////////
    // Text values
    font-family: "Lato", sans-serif;
    color: $font-primary;
    //////////////////////////////
    // XS:
    font-size: 18px;
    //////////////////////////////
    // S:
    @media screen and (min-width: $screen-m-min) {
        font-size: 20px;
    }
    //////////////////////////////
    // M:
    @media screen and (min-width: $screen-s-min) {
        font-size: 22px;
    }
    //////////////////////////////
    // L:
    @media screen and (min-width: $screen-l-min) {
        font-size: 24px;
    }
    //////////////////////////////
    // XL:
    @media screen and (min-width: $screen-xl-min) {
        font-size: 26px;
    }
}

/////////////////////////////////////////////////////
// Default text values:
a {
    display: inline-block;
    text-decoration: none;
    color: $font-secondary;
    transition: all 0.8s;
    &:link,
    &:visited {
        color: $font-secondary;
    }
    &:hover,
    &:active {
        color: $font-secondary * $hover-font-multiplier;
    }
}

p {
    display: block;
    margin: 0em 0em 1em 0em;
    padding: 0.1em 0.5em;
    font-size: 1em;
}

b {
    font-weight: 600;
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

h1,
.h1 {
    margin: 1em 0em 0.6em 0em;
    padding: 0.1em 0.5em;
    color: $font-secondary;
    font-size: 2.0em;
}

h2,
.h2 {
    margin: 1em 0em 0.5em 0em;
    padding: 0.1em 0.5em;
    color: $font-secondary;
    font-size: 1.8em;
}

h3,
.h3 {
    margin: 1em 0em 0.4em 0em;
    padding: 0.1em 0.5em;
    color: $font-secondary;
    font-size: 1.6em;
}

h4,
.h4 {
    margin: 1em 0em 0.3em 0em;
    padding: 0.1em 0.5em;
    color: $font-secondary;
    font-size: 1.4em;
}

h5,
.h5 {
    margin: 1em 0em 0.2em 0em;
    padding: 0.1em 0.5em;
    color: $font-secondary;
    font-size: 1.2em;
}

h6,
.h6 {
    margin: 1em 0em 0.1em 0em;
    padding: 0.1em 0.5em;
    color: $font-secondary;
    font-size: 1.0em;
}

/////////////////////////////////////////////////////
// Grid layout:
.container {
    display: block;
    max-width: $screen-l-min;
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin: 0em auto;
    @media screen and (min-width: $screen-l-min) {
        padding-left: 0em;
        padding-right: 0em;
    }
}

.container-fluid {
    display: block;
    min-width: 100%;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    flex-basis: 100%;
    //////////////////////////////
    // Col default:
    @mixin col-default {
        display: block;
        align-items: stretch;
    }
    //////////////////////////////
    // XS:
    @for $i from 1 through 12 {
        .col-xs-#{$i} {
            @include col-default;
            flex-basis: #{percentage($i / 12)};
        }
    }
    //////////////////////////////
    // S:
    @media screen and (min-width: $screen-s-min) {
        @for $i from 1 through 12 {
            .col-s-#{$i} {
                @include col-default;
                flex-basis: #{percentage($i / 12)};
            }
        }
    }
    //////////////////////////////
    // M:
    @media screen and (min-width: $screen-m-min) {
        @for $i from 1 through 12 {
            .col-m-#{$i} {
                @include col-default;
                flex-basis: #{percentage($i / 12)};
            }
        }
    }
    //////////////////////////////
    // L:
    @media screen and (min-width: $screen-l-min) {
        @for $i from 1 through 12 {
            .col-l-#{$i} {
                @include col-default;
                flex-basis: #{percentage($i / 12)};
            }
        }
    }
    //////////////////////////////
    // XL:
    @media screen and (min-width: $screen-xl-min) {
        @for $i from 1 through 12 {
            .col-xl-#{$i} {
                @include col-default;
                flex-basis: #{percentage($i / 12)};
            }
        }
    }
    //////////////////////////////
    // Horizontal class for row:
    &.center {
        justify-content: space-around;
    }
    &.left {
        justify-content: flex-start;
    }
    &.right {
        justify-content: flex-end;
    }
    //////////////////////////////
    // Vertical class for row:
    &.stretch {
        align-items: stretch;
    }
    &.top {
        align-items: flex-start;
    }
    &.middle {
        align-items: center;
    }
    &.bottom {
        align-items: flex-end;
    }
    //////////////////////////////
    // Horizontal class for col:
    .col-push-center {
        align-self: center;
    }
    .col-push-top {
        align-self: flex-start;
    }
    .col-push-bottom {
        align-self: flex-end;
    }
    //////////////////////////////
    // Sizing class for col:
    .col-size-min {
        flex-grow: 0;
    }
    .col-size-max {
        flex-grow: 1;
    }
    .col-push-auto {
        flex-grow: initial;
    }
    //////////////////////////////
    // Stick together:
    .nowrap {
        flex-wrap: nowrap;
    }
}

/////////////////////////////////////////////////////////
// Warp to bottom:
.warp {
    &.bottom {
        position: absolute;
        bottom: 0em;
    }
}

/////////////////////////////////////////////////////////
// Focus:
.focus {
    outline: none;
    box-shadow: 0em 0em 1em rgba($color-default, 0.3);
}

/////////////////////////////////////////////////////////
// Buttons:
.btn {
    cursor: pointer;
    display: inline-block;
    font-size: $forms-font-size;
    padding: 0.4em 1.7em 0.3em 1.7em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-shadow: none;
    overflow: hidden;
    background: rgba($color-default, $color-bg-opacity);
    border: 1px solid mix($color-default, $color-mix, 70);
    color: mix($color-default, $color-mix, 70);
    margin-bottom: $margin-bottom-default;
    &::before {
        content: "";
        position: absolute;
        transition: border 0.2s;
        z-index: -1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border: 0px solid mix($color-default, $color-mix, 70);
    }
    &:active::before,
    &:hover::before {
        border-width: 3px;
    }
    &:focus {
        @extend .focus;
    }
    // Info
    &.btn-info {
        color: mix($color-info, $color-mix, 70);
        background: rgba($color-info, $color-bg-opacity);
        border: 1px solid mix($color-info, $color-mix, 70);
        &::before {
            border: 0px solid mix($color-info, $color-mix, 70);
        }
        &:active::before,
        &:hover::before {
            border-width: 3px;
        }
    }
    // Succes
    &.btn-succes {
        color: mix($color-succes, $color-mix, 70);
        background: rgba($color-succes, $color-bg-opacity);
        border: 1px solid mix($color-succes, $color-mix, 70);
        &::before {
            border: 0px solid mix($color-succes, $color-mix, 70);
        }
        &:active::before,
        &:hover::before {
            border-width: 3px;
        }
    }
    // Warning
    &.btn-warning {
        color: mix($color-warning, $color-mix, 70);
        background: rgba($color-warning, $color-bg-opacity);
        border: 1px solid mix($color-warning, $color-mix, 70);
        &::before {
            border: 0px solid mix($color-warning, $color-mix, 70);
        }
        &:active::before,
        &:hover::before {
            border-width: 3px;
        }
    }
    // Danger
    &.btn-danger {
        color: mix($color-danger, $color-mix, 70);
        background: rgba($color-danger, $color-bg-opacity);
        border: 1px solid mix($color-danger, $color-mix, 70);
        &::before {
            border: 0px solid mix($color-danger, $color-mix, 70);
        }
        &:active::before,
        &:hover::before {
            border-width: 3px;
        }
    }
}

/////////////////////////////////////////////////////////
// Inputs:
.input {
    display: inline-block;
    width: 100%;
    font-size: $forms-font-size;
    padding: 0.4em 0.6em 0.3em 0.6em;
    position: relative;
    background: rgba($color-default, $color-bg-input-opacity);
    border: 1px solid mix($color-default, $color-mix, 70);
    text-shadow: none;
    color: mix($color-default, $color-mix, 70);
    margin-bottom: $margin-bottom-default;
    &:focus {
        @extend .focus;
    }
    // Info
    &.input-info {
        background: rgba($color-info, $color-bg-input-opacity);
        border: 1px solid mix($color-info, $color-mix, 70);
    }
    // Succes
    &.input-succes {
        background: rgba($color-succes, $color-bg-input-opacity);
        border: 1px solid mix($color-succes, $color-mix, 70);
    }
    // Warning
    &.input-warning {
        background: rgba($color-warning, $color-bg-input-opacity);
        border: 1px solid mix($color-warning, $color-mix, 70);
    }
    // Danger
    &.input-danger {
        background: rgba($color-danger, $color-bg-input-opacity);
        border: 1px solid mix($color-danger, $color-mix, 70);
    }
}

.input-addon {
    display: inline-block;
    width: 100%;
    font-size: $forms-font-size;
    padding: 0.4em 0.6em 0.3em 0.6em;
    position: relative;
    overflow: hidden;
    background: rgba($color-default, $color-bg-opacity);
    border: 1px solid mix($color-default, $color-mix, 70);
    border-right: none;
    color: mix($color-default, $color-mix, 70);
    margin-bottom: $margin-bottom-default;
    // Info
    &.input-addon-info {
        color: mix($color-info, $color-mix, 70);
        background: rgba($color-info, $color-bg-opacity);
        border: 1px solid mix($color-info, $color-mix, 70);
        border-right: none;
    }
    // Succes
    &.input-addon-succes {
        color: mix($color-succes, $color-mix, 70);
        background: rgba($color-succes, $color-bg-opacity);
        border: 1px solid mix($color-succes, $color-mix, 70);
        border-right: none;
    }
    // Warning
    &.input-addon-warning {
        color: mix($color-warning, $color-mix, 70);
        background: rgba($color-warning, $color-bg-opacity);
        border: 1px solid mix($color-warning, $color-mix, 70);
        border-right: none;
    }
    // Danger
    &.input-addon-danger {
        color: mix($color-danger, $color-mix, 70);
        background: rgba($color-danger, $color-bg-opacity);
        border: 1px solid mix($color-danger, $color-mix, 70);
        border-right: none;
    }
}