@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=latin-ext");
* {
  box-sizing: border-box; }

html {
  min-height: 100%;
  margin: 0px;
  padding: 0px; }

body {
  width: 100%;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  background-color: white;
  font-family: "Roboto", sans-serif;
  color: #3c3c3c;
  font-size: 18px; }
  @media screen and (min-width: 768px) {
    body {
      font-size: 20px; } }
  @media screen and (min-width: 375px) {
    body {
      font-size: 22px; } }
  @media screen and (min-width: 1024px) {
    body {
      font-size: 24px; } }
  @media screen and (min-width: 1440px) {
    body {
      font-size: 26px; } }

a {
  display: inline-block;
  text-decoration: none;
  color: #0a0a0a;
  transition: all 0.8s; }
  a:link, a:visited {
    color: #0a0a0a; }
  a:hover, a:active {
    color: #0b0b0b; }

p {
  display: block;
  margin: 0em 0em 1em 0em;
  padding: 0.1em 0.5em;
  font-size: 1em; }

b {
  font-weight: 600;
  text-decoration: none; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

h1,
.h1 {
  margin: 1em 0em 0.6em 0em;
  padding: 0.1em 0.5em;
  color: #0a0a0a;
  font-size: 2.0em; }

h2,
.h2 {
  margin: 1em 0em 0.5em 0em;
  padding: 0.1em 0.5em;
  color: #0a0a0a;
  font-size: 1.8em; }

h3,
.h3 {
  margin: 1em 0em 0.4em 0em;
  padding: 0.1em 0.5em;
  color: #0a0a0a;
  font-size: 1.6em; }

h4,
.h4 {
  margin: 1em 0em 0.3em 0em;
  padding: 0.1em 0.5em;
  color: #0a0a0a;
  font-size: 1.4em; }

h5,
.h5 {
  margin: 1em 0em 0.2em 0em;
  padding: 0.1em 0.5em;
  color: #0a0a0a;
  font-size: 1.2em; }

h6,
.h6 {
  margin: 1em 0em 0.1em 0em;
  padding: 0.1em 0.5em;
  color: #0a0a0a;
  font-size: 1.0em; }

.container {
  display: block;
  max-width: 1024px;
  margin: 0px auto; }

.container-fluid {
  display: block;
  min-width: 100%; }

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: stretch;
  width: 100%; }
  .row .col-xs-1 {
    display: block;
    width: 8.33333%; }
  .row .col-xs-2 {
    display: block;
    width: 16.66667%; }
  .row .col-xs-3 {
    display: block;
    width: 25%; }
  .row .col-xs-4 {
    display: block;
    width: 33.33333%; }
  .row .col-xs-5 {
    display: block;
    width: 41.66667%; }
  .row .col-xs-6 {
    display: block;
    width: 50%; }
  .row .col-xs-7 {
    display: block;
    width: 58.33333%; }
  .row .col-xs-8 {
    display: block;
    width: 66.66667%; }
  .row .col-xs-9 {
    display: block;
    width: 75%; }
  .row .col-xs-10 {
    display: block;
    width: 83.33333%; }
  .row .col-xs-11 {
    display: block;
    width: 91.66667%; }
  .row .col-xs-12 {
    display: block;
    width: 100%; }
  @media screen and (min-width: 375px) {
    .row .col-s-1 {
      display: block;
      width: 8.33333%; }
    .row .col-s-2 {
      display: block;
      width: 16.66667%; }
    .row .col-s-3 {
      display: block;
      width: 25%; }
    .row .col-s-4 {
      display: block;
      width: 33.33333%; }
    .row .col-s-5 {
      display: block;
      width: 41.66667%; }
    .row .col-s-6 {
      display: block;
      width: 50%; }
    .row .col-s-7 {
      display: block;
      width: 58.33333%; }
    .row .col-s-8 {
      display: block;
      width: 66.66667%; }
    .row .col-s-9 {
      display: block;
      width: 75%; }
    .row .col-s-10 {
      display: block;
      width: 83.33333%; }
    .row .col-s-11 {
      display: block;
      width: 91.66667%; }
    .row .col-s-12 {
      display: block;
      width: 100%; } }
  @media screen and (min-width: 768px) {
    .row .col-m-1 {
      display: block;
      width: 8.33333%; }
    .row .col-m-2 {
      display: block;
      width: 16.66667%; }
    .row .col-m-3 {
      display: block;
      width: 25%; }
    .row .col-m-4 {
      display: block;
      width: 33.33333%; }
    .row .col-m-5 {
      display: block;
      width: 41.66667%; }
    .row .col-m-6 {
      display: block;
      width: 50%; }
    .row .col-m-7 {
      display: block;
      width: 58.33333%; }
    .row .col-m-8 {
      display: block;
      width: 66.66667%; }
    .row .col-m-9 {
      display: block;
      width: 75%; }
    .row .col-m-10 {
      display: block;
      width: 83.33333%; }
    .row .col-m-11 {
      display: block;
      width: 91.66667%; }
    .row .col-m-12 {
      display: block;
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .row .col-l-1 {
      display: block;
      width: 8.33333%; }
    .row .col-l-2 {
      display: block;
      width: 16.66667%; }
    .row .col-l-3 {
      display: block;
      width: 25%; }
    .row .col-l-4 {
      display: block;
      width: 33.33333%; }
    .row .col-l-5 {
      display: block;
      width: 41.66667%; }
    .row .col-l-6 {
      display: block;
      width: 50%; }
    .row .col-l-7 {
      display: block;
      width: 58.33333%; }
    .row .col-l-8 {
      display: block;
      width: 66.66667%; }
    .row .col-l-9 {
      display: block;
      width: 75%; }
    .row .col-l-10 {
      display: block;
      width: 83.33333%; }
    .row .col-l-11 {
      display: block;
      width: 91.66667%; }
    .row .col-l-12 {
      display: block;
      width: 100%; } }
  @media screen and (min-width: 1440px) {
    .row .col-xl-1 {
      display: block;
      width: 8.33333%; }
    .row .col-xl-2 {
      display: block;
      width: 16.66667%; }
    .row .col-xl-3 {
      display: block;
      width: 25%; }
    .row .col-xl-4 {
      display: block;
      width: 33.33333%; }
    .row .col-xl-5 {
      display: block;
      width: 41.66667%; }
    .row .col-xl-6 {
      display: block;
      width: 50%; }
    .row .col-xl-7 {
      display: block;
      width: 58.33333%; }
    .row .col-xl-8 {
      display: block;
      width: 66.66667%; }
    .row .col-xl-9 {
      display: block;
      width: 75%; }
    .row .col-xl-10 {
      display: block;
      width: 83.33333%; }
    .row .col-xl-11 {
      display: block;
      width: 91.66667%; }
    .row .col-xl-12 {
      display: block;
      width: 100%; } }
  .row.center {
    justify-content: space-around; }
  .row.left {
    justify-content: flex-start; }
  .row.right {
    justify-content: flex-end; }
  .row.top {
    align-items: flex-start; }
  .row.middle {
    align-items: center; }
  .row.bottom {
    align-items: flex-end; }
  .row .col-push-center {
    align-self: center; }
  .row .col-push-top {
    align-self: flex-start; }
  .row .col-push-bottom {
    align-self: flex-end; }
  .row .col-size-min {
    flex-grow: 0; }
  .row .col-size-max {
    flex-grow: 1; }
  .row .col-push-auto {
    flex-grow: initial; }

.warp.bottom {
  position: absolute;
  bottom: 0em; }

.btn {
  cursor: pointer;
  display: inline-block;
  font-size: 0.65em;
  padding: 0.4em 1.7em 0.3em 1.7em;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  background: rgba(10, 10, 10, 0.1);
  border: 1px solid #535353;
  text-shadow: none;
  overflow: hidden;
  color: #535353; }
  .btn::before {
    content: "";
    position: absolute;
    transition: border 0.2s;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 0px solid #535353; }
  .btn:active, .btn:hover::before {
    border-width: 3px; }
  .btn:focus {
    outline: none;
    box-shadow: 0em 0em 1em rgba(10, 10, 10, 0.3); }
  .btn.btn-info {
    color: #4c92ff; }
    .btn.btn-info::before {
      background-color: rgba(0, 100, 255, 0.1); }
    .btn.btn-info::after {
      border: 1px solid #4c92ff; }
  .btn.btn-succes {
    color: #4ce57a; }
    .btn.btn-succes::before {
      border: 0px solid #4ce57a; }
    .btn.btn-succes::after {
      border: 1px solid #4ce57a; }
  .btn.btn-warning {
    color: #fcab53; }
    .btn.btn-warning::before {
      background-color: rgba(252, 136, 10, 0.1); }
    .btn.btn-warning::after {
      border: 1px solid #fcab53; }
  .btn.btn-danger {
    color: #ea4c6e; }
    .btn.btn-danger::before {
      background-color: rgba(226, 0, 49, 0.1); }
    .btn.btn-danger::after {
      border: 1px solid #ea4c6e; }

.input {
  display: inline-block;
  width: 100%;
  font-size: 0.65em;
  padding: 0.4em 0.6em 0.3em 0.6em;
  position: relative;
  background: rgba(10, 10, 10, 0.05);
  border: 1px solid #535353;
  text-shadow: none;
  color: #535353; }
  .input:focus {
    outline: none;
    box-shadow: 0em 0em 1em rgba(10, 10, 10, 0.3); }
  .input.input-info {
    background: rgba(0, 100, 255, 0.05);
    border: 1px solid #4c92ff; }
  .input.input-succes {
    background: rgba(0, 219, 65, 0.05);
    border: 1px solid #4ce57a; }
  .input.input-warning {
    background: rgba(252, 136, 10, 0.05);
    border: 1px solid #fcab53; }
  .input.input-danger {
    background: rgba(226, 0, 49, 0.05);
    border: 1px solid #ea4c6e; }

/*# sourceMappingURL=uniscale.css.map */
