/////////////////////////////////////////////////////
// Sizes:
// XS - [0, inf.) - Default for all.
// S  - [375, inf.)
// M  - [768, inf.)
// L  - [992, inf.)
// XL - [1200, inf.)
$screen-xs-min: 0px;
$screen-s-min: 375px;
$screen-m-min: 768px;
$screen-l-min: 1024px;
$screen-xl-min: 1440px;
/////////////////////////////////////////////////////
// Colors:
// Fonts 
$font-primary: rgb(60, 60, 60);
$font-secondary: rgb(10, 10, 10);
// Links
$link-primary: rgb(10, 10, 10);
$link-hover:rgb(255, 255, 255);
$link-underline: rgb(150, 150, 150);
// Backgrounds
$bg-primary: rgb(255, 255, 255);
$bg-secondary: rgb(230, 230, 230);
// Info, Succes, Warning, Danger, Default - buttons, alerts, inputs
$forms-font-size: 0.65em;
$color-default: rgb(10, 10, 10);
$color-info: rgb(0, 100, 255);
$color-succes: rgb(20, 180, 95);
$color-warning: rgb(252, 136, 10);
$color-danger: rgb(226, 0, 49);
$color-mix: rgb(255, 255, 255);
$color-font-hover: rgb(255, 255, 255);
// Buttons, alerts
$color-bg-opacity: 0.1;
// Inputs
$color-bg-input-opacity: 0.05;
// Hovers
$hover-bg-opacity: 0.12;
// Margins
$margin-bottom-default: 0.3em;
/////////////////////////////////////////////////////
// Default page values:
@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext");
* {
    box-sizing: border-box;
    vertical-align: top;
    line-height: 1.15;
}

html {
    min-height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    /////////////////////////////////////////////////////
    // Base values
    width: 100%;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    background-color: $bg-primary;
    /////////////////////////////////////////////////////
    // Text values
    font-family: "Lato", sans-serif;
    color: $font-primary;
    //////////////////////////////
    // XS:
    font-size: 18px;
    //////////////////////////////
    // S:
    @media screen and (min-width: $screen-m-min) {
        font-size: 20px;
    }
    //////////////////////////////
    // M:
    @media screen and (min-width: $screen-s-min) {
        font-size: 22px;
    }
    //////////////////////////////
    // L:
    @media screen and (min-width: $screen-l-min) {
        font-size: 24px;
    }
    //////////////////////////////
    // XL:
    @media screen and (min-width: $screen-xl-min) {
        font-size: 26px;
    }
}

/////////////////////////////////////////////////////////
// Focus:
.focus {
    outline: none;
    box-shadow: 0em 0em 1em rgba($color-default, 0.4);
}

/////////////////////////////////////////////////////
// Default text values:
a {
    color: mix($link-primary, $link-underline, 80);
    position: relative;
    text-decoration: none;
    display: inline-block;
    padding: 0 1px;
    transition: color ease 0.3s;
    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 0.1em;
        left: 0;
        bottom: 0;
        background-color: mix($link-primary, $link-underline, 20);
        transition: all ease 0.3s;
    }
    &:link,
    &:visited {
        color: mix($link-primary, $link-underline, 80);
    }
    &:active,
    &:hover {
        color: $link-hover;
        &::after {
            height: 100%;
        }
    }
}

p {
    display: block;
    margin: 0em 0em 0.4em 0em;
    padding: 0.1em 0.5em;
    font-size: 1em;
    &:first-child {
        margin-top: 0.4em;
    }
}

b {
    font-weight: 600;
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

h1,
.h1 {
    margin: 1em 0em 0.6em 0em;
    padding: 0.1em 0.5em;
    color: $font-secondary;
    font-size: 2.0em;
    &:first-child {
        margin-top: 0.6em;
    }
}

h2,
.h2 {
    margin: 1em 0em 0.5em 0em;
    padding: 0.1em 0.5em;
    color: $font-secondary;
    font-size: 1.8em;
    &:first-child {
        margin-top: 0.5em;
    }
}

h3,
.h3 {
    margin: 1em 0em 0.4em 0em;
    padding: 0.1em 0.5em;
    color: $font-secondary;
    font-size: 1.6em;
    &:first-child {
        margin-top: 0.4em;
    }
}

h4,
.h4 {
    margin: 1em 0em 0.3em 0em;
    padding: 0.1em 0.5em;
    color: $font-secondary;
    font-size: 1.4em;
    &:first-child {
        margin-top: 0.3em;
    }
}

h5,
.h5 {
    margin: 1em 0em 0.2em 0em;
    padding: 0.1em 0.5em;
    color: $font-secondary;
    font-size: 1.2em;
    &:first-child {
        margin-top: 0.5em;
    }
}

h6,
.h6 {
    margin: 1em 0em 0.1em 0em;
    padding: 0.1em 0.5em;
    color: $font-secondary;
    font-size: 1.0em;
    &:first-child {
        margin-top: 0.1em;
    }
}

/////////////////////////////////////////////////////
// Grid layout:
.container {
    display: block;
    max-width: $screen-l-min;
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin: 0em auto;
}

.container-fluid {
    display: block;
    min-width: 100%;
}

.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    @mixin col-default {
        display: block;
        // In case of flex
        &.flex {
            display: flex;
        }
    }
    @for $i from 1 through 12 {
        //////////////////////////////
        // All:
        .col-xs-#{$i},
        .col-s-#{$i},
        .col-m-#{$i},
        .col-l-#{$i},
        .col-xl-#{$i} {
            @include col-default;
        }
        //////////////////////////////
        // XS:
        .col-xs-#{$i} {
            flex-basis: #{percentage($i / 12)};
        }
        //////////////////////////////
        // S:
        @media screen and (min-width: $screen-s-min) {
            .col-s-#{$i} {
                flex-basis: #{percentage($i / 12)};
            }
        }
        //////////////////////////////
        // M:
        @media screen and (min-width: $screen-m-min) {
            .col-m-#{$i} {
                flex-basis: #{percentage($i / 12)};
            }
        }
        //////////////////////////////
        // L:
        @media screen and (min-width: $screen-l-min) {
            .col-l-#{$i} {
                flex-basis: #{percentage($i / 12)};
            }
        }
        //////////////////////////////
        // XL:
        @media screen and (min-width: $screen-xl-min) {
            .col-xl-#{$i} {
                flex-basis: #{percentage($i / 12)};
            }
        }
    }
    //////////////////////////////
    // Sizing class for col:
    .col-min {
        @include col-default;
        flex-grow: 0;
    }
    .col-max {
        @include col-default;
        flex-grow: 1;
    }
    .col-auto {
        @include col-default;
        flex-grow: initial;
    }
    //////////////////////////////
    // Stick together:
    .nowrap {
        flex-wrap: nowrap;
    }
    .wrap {
        flex-wrap: nowrap;
    }
    //////////////////////////////
    // Horizontal class for row:
    &.center {
        justify-content: space-around;
    }
    &.left {
        justify-content: flex-start;
    }
    &.right {
        justify-content: flex-end;
    }
    //////////////////////////////
    // Vertical class for row:
    &.stretch {
        align-items: stretch;
    }
    &.top {
        align-items: flex-start;
    }
    &.middle {
        align-items: center;
    }
    &.bottom {
        align-items: flex-end;
    }
    //////////////////////////////
    // Horizontal class for col:
    .col-push-center {
        align-self: center;
    }
    .col-push-top {
        align-self: flex-start;
    }
    .col-push-bottom {
        align-self: flex-end;
    }
    //////////////////////////////
    // Directions:
    &.flex-direction-column {
        flex-direction: column;
        &.reverse {
            flex-direction: column-reverse;
        }
    }
    &.flex-direction-row {
        flex-direction: row;
        &.reverse {
            flex-direction: row-reverse;
        }
    }
}

.row {
    @extend .flex;
    flex-basis: 100%;
}

/////////////////////////////////////////////////////////
// Wrap to bottom:
.wrap {
    &.bottom {
        position: absolute;
        bottom: 0em;
    }
}

/////////////////////////////////////////////////////////
// Panel:
.panel {
    position: relative;
    z-index: 1;
    background-color: $bg-secondary;
    border: 1px solid mix($color-default, $color-mix, 70);
    margin-bottom: 1em;
}

.panel-borderless {
    @extend .panel;
    border: 1px solid transparent;
}

/////////////////////////////////////////////////////////
// Buttons:
.btn {
    cursor: pointer;
    display: inline-block;
    font-size: $forms-font-size;
    padding: 0.4em 1.7em 0.3em 1.7em;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-shadow: none;
    background: rgba($color-default, $color-bg-opacity);
    border: 1px solid mix($color-default, $color-mix, 70);
    color: mix($color-default, $color-mix, 70);
    margin-bottom: $margin-bottom-default;
    transition: color 0.4s;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: mix($color-default, $color-mix, 70);
        z-index: -1;
        opacity: 0;
        transform: scale3d(0.7, 1, 1);
        transition: transform 0.4s, opacity 0.4s;
        transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    }
    &:active,
    &:hover {
        color: $color-font-hover;
        &::before {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }
    &:focus {
        @extend .focus;
    }
    // Info
    &.btn-info {
        color: mix($color-info, $color-mix, 70);
        background: rgba($color-info, $color-bg-opacity);
        border: 1px solid mix($color-info, $color-mix, 70);
        &::before {
            background: mix($color-info, $color-mix, 70);
        }
        &:active,
        &:hover {
            color: $color-font-hover;
        }
    }
    // Succes
    &.btn-succes {
        color: mix($color-succes, $color-mix, 70);
        background: rgba($color-succes, $color-bg-opacity);
        border: 1px solid mix($color-succes, $color-mix, 70);
        &::before {
            background: mix($color-succes, $color-mix, 70);
        }
        &:active,
        &:hover {
            color: $color-font-hover;
        }
    }
    // Warning
    &.btn-warning {
        color: mix($color-warning, $color-mix, 70);
        background: rgba($color-warning, $color-bg-opacity);
        border: 1px solid mix($color-warning, $color-mix, 70);
        &::before {
            background: mix($color-warning, $color-mix, 70);
        }
        &:active,
        &:hover {
            color: $color-font-hover;
        }
    }
    // Danger
    &.btn-danger {
        color: mix($color-danger, $color-mix, 70);
        background: rgba($color-danger, $color-bg-opacity);
        border: 1px solid mix($color-danger, $color-mix, 70);
        &::before {
            background: mix($color-danger, $color-mix, 70);
        }
        &:active,
        &:hover {
            color: $color-font-hover;
        }
    }
}

/////////////////////////////////////////////////////////
// Inputs:
.input {
    display: inline-block;
    width: 100%;
    font-size: $forms-font-size;
    padding: 0.4em 0.6em 0.3em 0.6em;
    position: relative;
    background: rgba($color-default, $color-bg-input-opacity);
    border: 1px solid mix($color-default, $color-mix, 70);
    text-shadow: none;
    color: mix($color-default, $color-mix, 70);
    margin-bottom: $margin-bottom-default;
    &:focus {
        @extend .focus;
    }
    // Info
    &.input-info {
        background: rgba($color-info, $color-bg-input-opacity);
        border: 1px solid mix($color-info, $color-mix, 70);
    }
    // Succes
    &.input-succes {
        background: rgba($color-succes, $color-bg-input-opacity);
        border: 1px solid mix($color-succes, $color-mix, 70);
    }
    // Warning
    &.input-warning {
        background: rgba($color-warning, $color-bg-input-opacity);
        border: 1px solid mix($color-warning, $color-mix, 70);
    }
    // Danger
    &.input-danger {
        background: rgba($color-danger, $color-bg-input-opacity);
        border: 1px solid mix($color-danger, $color-mix, 70);
    }
}

.input-addon {
    display: inline-block;
    width: 100%;
    font-size: $forms-font-size;
    padding: 0.4em 0.6em 0.3em 0.6em;
    position: relative;
    overflow: hidden;
    background: rgba($color-default, $color-bg-opacity);
    border: 1px solid mix($color-default, $color-mix, 70);
    border-right: none;
    color: mix($color-default, $color-mix, 70);
    margin-bottom: $margin-bottom-default;
    // Info
    &.input-addon-info {
        color: mix($color-info, $color-mix, 70);
        background: rgba($color-info, $color-bg-opacity);
        border: 1px solid mix($color-info, $color-mix, 70);
        border-right: none;
    }
    // Succes
    &.input-addon-succes {
        color: mix($color-succes, $color-mix, 70);
        background: rgba($color-succes, $color-bg-opacity);
        border: 1px solid mix($color-succes, $color-mix, 70);
        border-right: none;
    }
    // Warning
    &.input-addon-warning {
        color: mix($color-warning, $color-mix, 70);
        background: rgba($color-warning, $color-bg-opacity);
        border: 1px solid mix($color-warning, $color-mix, 70);
        border-right: none;
    }
    // Danger
    &.input-addon-danger {
        color: mix($color-danger, $color-mix, 70);
        background: rgba($color-danger, $color-bg-opacity);
        border: 1px solid mix($color-danger, $color-mix, 70);
        border-right: none;
    }
    // In middle
    &.input-addon-middle {
        border-left: none;
    }
}

/////////////////////////////////////////////////////////
// Tooltips:
*[data-toogle="tooltip"] {
    &>.tooltip {
        opacity: 0;
        display: block;
        position: absolute;
        z-index: 100;
        text-transform: none;
        bottom: calc(100% + 1.5em);
        left: calc(50% - 7.5em); // 50% - half_of_width
        padding: 0.5em;
        width: 15em;
        background-color: rgba(0, 0, 0, 0.9);
        color: rgb(210, 210, 210);
        text-align: center;
        font-size: 0.8em;
        transform: scale(0.0, 0.0);
        transition: transform 0.15s;
        &::after {
            content: "";
            position: absolute;
            bottom: -1em;
            left: calc(50% - 0.5em);
            width: 0em;
            height: 0em;
            margin-top: -0.5em;
            border: 0.5em solid transparent;
            border-top-color: rgba(0, 0, 0, 0.9);
        }
        &.small {
            left: calc(50% - 4em); // 50% - half_of_width
            width: 8em;
        }
        &.large {
            left: calc(50% - 12.5em); // 50% - half_of_width
            width: 25em;
        }
    }
    &:hover {
        &>.tooltip {
            opacity: 1;
            transform: scale(1.0, 1.0);
            // Do not let hover a tooltip
            &:hover {
                opacity: 0;
                transform: scale(0.0, 0.0);
            }
        }
    }
}

/////////////////////////////////////////////////////////
// Margin:
.m-t {
    margin-top: 0.5em;
}

.m-r {
    margin-right: 0.5em;
}

.m-l {
    margin-left: 0.5em;
}

.m-b {
    margin-bottom: 0.5em;
}

.margin {
    @extend .m-t;
    @extend .m-r;
    @extend .m-b;
    @extend .m-l;
}