/////////////////////////////////////////////////////
// Sizes:
// XS - [0, inf.) - Default for all.
// S  - [375, inf.)
// M  - [768, inf.)
// L  - [992, inf.)
// XL - [1200, inf.)
$screen-xs-min: 0px;
$screen-s-min: 375px;
$screen-m-min: 768px;
$screen-l-min: 1024px;
$screen-xl-min: 1440px;
/////////////////////////////////////////////////////
// Colors:
// Fonts and hover
$font-primary: rgb(60, 60, 60);
$font-secondary: rgb(10, 10, 10);
$hover-multiplier: 1.1;
// Backgrounds
$bg-primary: rgb(255, 255, 255);
$bg-secondary: rgb(210, 210, 210);
$bg-inverse-primary: rgb(50, 50, 50);
$bg-inverse-secondary: rgb(30, 30, 30);
$bg-info: rgb(0, 100, 255);
$bg-succes: rgb(0, 219, 65);
$bg-warning: rgb(252, 236, 0);
$bg-danger: rgb(226, 0, 49);
$bg-opacity: 0.2;
/////////////////////////////////////////////////////
// Default page values:
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=latin-ext');
html,
body {
    /////////////////////////////////////////////////////
    // Base values
    width: 100%;
    overflow-x: hidden;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: $bg-primary;
    /////////////////////////////////////////////////////
    // Text values
    font-family: "Roboto", sans-serif;
    color: $font-primary;
    //////////////////////////////
    // XS:
    font-size: 18px;
    //////////////////////////////
    // S:
    @media screen and (min-width: $screen-m-min) {
        font-size: 20px;
    }
    //////////////////////////////
    // M:
    @media screen and (min-width: $screen-s-min) {
        font-size: 22px;
    }
    //////////////////////////////
    // L:
    @media screen and (min-width: $screen-l-min) {
        font-size: 24px;
    }
    //////////////////////////////
    // XL:
    @media screen and (min-width: $screen-xl-min) {
        font-size: 26px;
    }
}

/////////////////////////////////////////////////////
// Default text values:
a {
    display: inline-block;
    text-decoration: none;
    color: $font-secondary;
    transition: all 0.8s;
    &:link,
    &:visited {
        color: $font-secondary;
    }
    &:hover,
    &:active {
        color: $font-secondary * $hover-multiplier;
    }
}

p {
    display: block;
    margin: 0em 0em 1em 0em;
    padding: 0.1em 0.5em;
    font-size: 1em;
}

b {
    font-weight: 600;
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

h1,
.h1 {
    margin: 1em 0em 0.6em 0em;
    padding: 0.1em 0.5em;
    color: $font-secondary;
    font-size: 2.0em;
}

h2,
.h2 {
    margin: 1em 0em 0.5em 0em;
    padding: 0.1em 0.5em;
    color: $font-secondary;
    font-size: 1.8em;
}

h3,
.h3 {
    margin: 1em 0em 0.4em 0em;
    padding: 0.1em 0.5em;
    color: $font-secondary;
    font-size: 1.6em;
}

h4,
.h4 {
    margin: 1em 0em 0.3em 0em;
    padding: 0.1em 0.5em;
    color: $font-secondary;
    font-size: 1.4em;
}

h5,
.h5 {
    margin: 1em 0em 0.2em 0em;
    padding: 0.1em 0.5em;
    color: $font-secondary;
    font-size: 1.2em;
}

h6,
.h6 {
    margin: 1em 0em 0.1em 0em;
    padding: 0.1em 0.5em;
    color: $font-secondary;
    font-size: 1.0em;
}

/////////////////////////////////////////////////////
// Grid layout:
.container {
    display: block;
    max-width: $screen-l-min;
    margin: 0px auto;
}

.container-fluid {
    display: block;
    min-width: 100%;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: stretch;
    width: 100%;
    //////////////////////////////
    // XS:
    @for $i from 1 through 12 {
        .col-xs-#{$i} {
            display: block;
            width: #{percentage($i / 12)};
        }
    }
    //////////////////////////////
    // S:
    @media screen and (min-width: $screen-s-min) {
        @for $i from 1 through 12 {
            .col-s-#{$i} {
                display: block;
                width: #{percentage($i / 12)};
            }
        }
    }
    //////////////////////////////
    // M:
    @media screen and (min-width: $screen-m-min) {
        @for $i from 1 through 12 {
            .col-m-#{$i} {
                display: block;
                width: #{percentage($i / 12)};
            }
        }
    }
    //////////////////////////////
    // L:
    @media screen and (min-width: $screen-l-min) {
        @for $i from 1 through 12 {
            .col-l-#{$i} {
                display: block;
                width: #{percentage($i / 12)};
            }
        }
    }
    //////////////////////////////
    // XL:
    @media screen and (min-width: $screen-xl-min) {
        @for $i from 1 through 12 {
            .col-xl-#{$i} {
                display: block;
                width: #{percentage($i / 12)};
            }
        }
    }
    //////////////////////////////
    // Horizontal class for row:
    &.center {
        justify-content: space-around;
    }
    &.left {
        justify-content: flex-start;
    }
    &.right {
        justify-content: flex-end;
    }
    //////////////////////////////
    // Vertical class for row:
    &.top {
        align-items: flex-start;
    }
    &.middle {
        align-items: center;
    }
    &.bottom {
        align-items: flex-end;
    }
    //////////////////////////////
    // Horizontal class for col:
    .col-push-center {
        align-self: center;
    }
    .col-push-top {
        align-self: flex-start;
    }
    .col-push-bottom {
        align-self: flex-end;
    }
    //////////////////////////////
    // Sizing class for col:
    .col-size-min {
        flex-grow: 0;
    }
    .col-size-max {
        flex-grow: 1;
    }
    .col-push-auto {
        flex-grow: initial;
    }
}

/////////////////////////////////////////////////////////
// Warp to bottom:
.warp {
    &.bottom {
        position: absolute;
        bottom: 0em;
    }
}

/////////////////////////////////////////////////////////
// Forms:
.btn {
    cursor: pointer;
    display: inline-block;
    color: $font-primary;
    font-size: 1em;
    padding: 0.2em 1em;
    border: 1px solid $font-primary;
    background-color: rgba($bg-primary, $bg-opacity);
    transition: all 0.2s;
    text-transform: uppercase;
    &:active,
    &:hover {
        color: $font-secondary;
        box-shadow: inset 0em 0em 1em rgba($font-primary, 0.4);
    }
    &:focus {
        outline: none;
        box-shadow: 0em 0em 1em rgba($font-secondary, 0.3);
    }
    &.btn-info {
        color: mix($font-secondary, $bg-info, 50);
        background-color: rgba($bg-info, $bg-opacity);
        border: 1px solid $bg-info;
        &:active,
        &:hover {
            color: mix($font-secondary, $bg-info, 60);
            box-shadow: inset 0em 0em 1em rgba($bg-info, 0.4);
        }
    }
    &.btn-succes {
        color: mix($font-secondary, $bg-succes, 50);
        background-color: rgba($bg-succes, $bg-opacity);
        border: 1px solid $bg-succes;
        &:active,
        &:hover {
            color: mix($font-secondary, $bg-succes, 60);
            box-shadow: inset 0em 0em 1em rgba($bg-succes, 0.4);
        }
    }
    &.btn-warning {
        color: mix($font-secondary, $bg-warning, 50);
        background-color: rgba($bg-warning, $bg-opacity);
        border: 1px solid $bg-warning;
        &:active,
        &:hover {
            color: mix($font-secondary, $bg-warning, 60);
            box-shadow: inset 0em 0em 1em rgba($bg-warning, 0.4);
        }
    }
    &.btn-danger {
        color: mix($font-secondary, $bg-danger, 50);
        background-color: rgba($bg-danger, $bg-opacity);
        border: 1px solid $bg-danger;
        &:active,
        &:hover {
            color: mix($font-secondary, $bg-danger, 60);
            box-shadow: inset 0em 0em 1em rgba($bg-danger, 0.4);
        }
    }
}